<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamnickle.deck" >

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        Deck application icon created using Inkscape.
        Deck application icon font is ChunkFive.
        Deck application icon drawables created using
            Android Asset Studio - Launcher Icon Generator
            http://romannurik.github.io/AndroidAssetStudio/icons-launcher.html
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/device_list_activity_title" >
        </activity>
        <activity
            android:name=".GameCreatorActivity"
            android:label="@string/game_creator_activity_title" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:hardwareAccelerated="true"
            android:label="@string/game_activity_title">
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e1a1841ff9279cd6da2f637481db99e1ca4fa5d1" />

        <activity
            android:name=".DeckSettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>
    </application>

</manifest>
