<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamnickle.deck" >

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
        Deck application icon created using Inkscape.
        Deck application icon font is ChunkFive.
        Deck application icon drawables created using
            Android Asset Studio - Launcher Icon Generator
            http://romannurik.github.io/AndroidAssetStudio/icons-launcher.html
    -->
    <application
        android:name="com.adamnickle.deck.DeckApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e1a1841ff9279cd6da2f637481db99e1ca4fa5d1" />

        <activity
            android:name="com.adamnickle.deck.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.adamnickle.deck.DeviceListActivity"
            android:label="@string/device_list_activity_title"
            android:parentActivityName="com.adamnickle.deck.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.GameActivity"
            android:hardwareAccelerated="true"
            android:label="@string/game_activity_title"
            android:parentActivityName="com.adamnickle.deck.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.DeckSettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.adamnickle.deck.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.GameCreatorActivity"
            android:label="@string/game_creator_activity_title"
            android:parentActivityName="com.adamnickle.deck.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.InfoActivity"
            android:label="@string/info_activity_title"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="portrait"
            android:parentActivityName="com.adamnickle.deck.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.MainActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.AcknowledgmentsActivity"
            android:label="Acknowledgments"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.adamnickle.deck.InfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamnickle.deck.InfoActivity" />
        </activity>

        <activity
            android:name="com.adamnickle.deck.WebActivity" />

        <activity
            android:name=".GameCreatorWizardActivity" />

    </application>

</manifest>
